body {
  background-color: #ba3979;
  color: #eaeaea;
  font-family: "Courier New", Courier, monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

body.alt {
  background-color: #0e0e0e;
}

.container {
  max-width: 700px;
  width: 100%;
}

body2 {
  background-color: #0e0e0e;
  color: #eaeaea;
  font-family: "Courier New", Courier, monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  width: 100%;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.ascii {
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
  font-size: 20px;
  line-height: 1.2;
  margin: 20px 0;
  text-align: center;
}

.ascii2 {
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
  font-size: 20px;
  line-height: 1.2;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn {
  padding: 14px 24px;
  border: 1px solid #eaeaea;
  color: #eaeaea;
  text-decoration: none;
  font-family: monospace;
}

.btn:hover {
  background-color: #eaeaea;
  color: #0e0e0e;
}


.pink   { color: #ff7aa2; }
.blue   { color: #5aa9ff; }
.purple { color: #b084ff; }
.red { color: #ED5353; }
